@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.bggray {
  background-color: #4F4036;
}

.minhscreen {
  min-height: 100vh;
}

.maxw4xl {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.p8 {
  padding: 2rem;
}

.text3xl {
  font-size: 1.875rem;
  color: white;
  padding: 5px;
}

.fontbold {
  font-weight: 700;
}

.mb4 {
  margin-bottom: 1rem;
  color: white;
  padding: 5px;
}

.post {
  background-color: #36454F;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; /* Make the post full width on mobile */
  color: white;
  padding: 1rem;
  align-items: center;
  box-sizing: border-box;
}

.img {
  width: 100%;
  border-radius: 8px;
  align-self: center;
  justify-content: center;
}

.title {
  font-size: 1.25rem; /* Reduce title size on mobile */
  font-weight: 700;
  color: white;
}

/* Media Queries for Mobile Phones */
@media only screen and (max-width: 768px) {
  .maxw4xl {
    max-width: 100%; /* Set max-width to 100% for full width on mobile */
  }

  .p8 {
    padding: 1rem; /* Reduce padding on mobile */
  }

  /* Add more styles for smaller screens as needed */
}
