.form {
    margin-top: 1.5rem;
    padding: 20px;
  }
  
  .formGroup {
    margin-bottom: 1.5rem;
  }
  
  .label {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .textarea {
    resize: vertical;
  }
  
  .button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  .buttonPrimary {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .buttonPrimary:hover {
    background-color: #0056b3;
  }



  .bggray {
    background-color: #4F4036;
    min-height: 100vh;
    border-radius: 10px;
  }
  
  
  
  .mxauto {
    margin-left: auto;
    margin-right: auto;
    max-width: 64rem;
    padding: 2rem;
  }
  
  
  
  .textxl {
    font-size: 9rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #f8f8f8;
  
    @media (max-width: 768px) {
      font-size: 1.5rem;
      margin-top: 9rem;
      z-index: 1;
  
    }
  }
  
  
  
  .textlg {
    font-size: 1.125rem;
    color: white;
    line-height: 1.75rem;
    margin-top: 100px;
  }

  .text3xl {
    color: white;
  }
  