@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$bg-gray: #E2725B;

.bg-gray {
  background-color: $bg-gray;
}

.min-h-screen {
  min-height: 100vh;
}

.max-w-4xl {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.p-8 {
  padding: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  color: white;
}

.font-bold {
  font-weight: 700;
}

.mb-4 {
  margin-bottom: 1rem;
  color: white;
}

.post {
  background-color: $bg-gray;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  padding: 2rem;
  color: white;
}

.img {
  width: 100%;
  object-fit: cover;
  border-radius: white;
}

.title {
  font-size: 3.5rem;
  font-weight: 900;
  color: black;
  margin-bottom: 60px;
}

.servicesList {
  margin-left: auto;
  margin-right: 60px;
}
