/* Ensure the container is centered and has padding for spacing */
.container {
  width: 97%;
  overflow: hidden;
  border-radius: 10px;
  border: 6px solid #ccc;
  margin-left: 10px;
}

/* Flexbox centering for the swiper */
.mySwiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Hide any overflow */
  border-radius: 10px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(87,87,113,1) 74%, rgba(0,212,255,1) 100%);
  width: 990px;
  object-fit: cover;
}

.img {
  justify-content: center;
  border-radius: 10px;
}

/* Flexbox centering for each swiper item */
.swipItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative; /* Position relative to use absolute positioning for the background */
  height: 800px; /* Adjust height as needed */
  width: 900px; /* Adjust max-width as needed */
  overflow: hidden;
  border-radius: 10px;
  margin-left: 50px;
  object-fit: cover;
}

/* Full background image for each swiper item */
.swipItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Place the background behind the content */
}

/* Center text and style headings and paragraphs */
.detail {
  text-align: center;
  z-index: 1; /* Ensure text appears above the background image */
  color: black; /* Optional: change text color for visibility */
}

.detail h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.detail p {
  font-size: 1rem;
  color: white;
}

/* Add media queries for responsiveness */
@media (max-width: 786px) {
  .container {
    width: 240px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(87,87,113,1) 74%, rgba(0,212,255,1) 100%);

  }

  .mySwiper {
    width: 100%;
    align-items: center;
  }

  .swipItem {
    width: 180px;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
  }

  .img {
    width: 200%;
  }

  .detail h2 {
    font-size: 1.2rem;
  }

  .detail p {
    font-size: 0.9rem;
  }

  
}


@media (min-width: 601px) and (max-width: 1024px) {

  .container {
    width: 575px;
    align-items: center;
  }

  .mySwiper {
    width: 100%;
    align-items: center;
  }

  .swipItem {
    width: 500px;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
  }

  .imgBox {
    width: 560px;
    margin-left: 30px;
  }

  .detail h2 {
    font-size: 0.9rem;
  }

  .detail p {
    font-size: 0.9rem;
  }

}







  


  